.carousel-current {
    font-size: 32px;
    display: inline;
    text-decoration: underline;
}

.carousel-near {
    font-size: 22px;
    display: inline;
}

.carousel-far {
    font-size: 20px;
    display: inline;
}

.carousel-further {
    font-size: 18px;
    display: inline;
}

.carousel-furthest {
    font-size: 18px;
    display: inline;
}

.carousel_selected {
    margin-top: 10px;
    font-size: 22px;
    background-color: #4CAF50;
    border: none; /* 1px solid white; */
    color: white;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 70px;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;


}

.carousel-button {
    margin-top: 0px;
    font-size: 16px;
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 200px;
    height: 50px;
    /*padding: 8px 40px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
}

.carousel-button:hover {
    background-color: green; /* Green */
    color: lightgray;
}
