.carousel-current {
    font-size: 32px;
    display: inline;
    text-decoration: underline;
}

.carousel-near {
    font-size: 22px;
    display: inline;
}

.carousel-far {
    font-size: 20px;
    display: inline;
}

.carousel-further {
    font-size: 18px;
    display: inline;
}

.carousel-furthest {
    font-size: 18px;
    display: inline;
}

.carousel_selected {
    margin-top: 10px;
    font-size: 24px;
    background-color: white; 
    /*#4CAF50;*/
    border: 1px solid white; /* 1px solid white; */
    color: #4CAF50;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 70px;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);


}

.carousel-button {
    margin-top: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 200px;
    height: 60px;
    /*padding: 8px 40px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
}

.carousel-button:hover {
    background-color: green; /* Green */
    color: lightgray;
}
