<div id="background-anchor"></div>

<div id="background" class="col-md-12 d-flex justify-content-center">
    <div class="block-name">
        <div class="top-block-title">
                BACKGROUND
            <hr class="hr-line">
            <hr class="hr-square">
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
            <h2>Professional Career</h2>
            I have been working for more than 12 years in the Information Technology industry, fulfilling numerous roles on projects with a worldwide scope.
            <br>During this period I worked in several roles and 
            positions, always related to software development.
        </div>
        <div class="col-md-4">
            <h2>Roles and Responsabilities</h2>
            <ul>
              <li>Project Manager</li>
              <li>Team Leader</li>
              <li>Backend & Frontend Developer</li>
              <li>QA & Automation Tester</li>
              <li>Systems Analyst & Software Architect</li>
              <li>Recruiting & perform Technical Interviews</li>
              <li>Certififed Scrum Master and Scrum Coach</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Methodologies</h2>
            Waterfall development in the early beginnings but when 
            the opportunity presented itself to change I moved and focused my efforts on web applications specialization
            using company-wide Agile Methodologies adoption as 
            main tools, writing software applying several 
            scripting languages, such as PHP, Perl, Python or Ruby.
        </div>
    </div>
</div>