<div id="header">
    <div id="main-header" class="header">
        <div class="navigation-elements">
            <div class="go-top-element">
                <a id="go_top_link" href="#top">
                    <img src="images/go-top.jpg" title="Go to the top of the page" class="go-top-page" width="40px;" height="40px;">
                </a>
            </div>
            <div class="go-bottom-element">
                <a id="go_bottom_link" href="#bottom">
                    <img src="images/go-bottom.jpg" title="Go to the bottom of the page" class="go-bottom-page" width="40px;" height="40px;">
                </a>
            </div>
        </div>  
        <div class="header-centered">
            <div class="horizontal">
                <span class="square individual">
                    <a id="about_me_link" class="tenth before after" href="#about-me-anchor">ABOUT ME</a>
                </span>
            </div>
            <div class="horizontal">
                <span class="square individual">
                    <a id="background_link" class="tenth before after" href="#background-anchor">BACKGROUND</a>
                </span>
            </div>
            <div class="horizontal">
                <span class="square individual">
                    <a id="my_work_link" class="tenth before after" href="#my-work-anchor">EXPERIENCE</a>
                </span>
            </div>
            <div class="horizontal">
                <span class="square individual">
                    <a id="skills_link" class="tenth before after" href="#my-skills-anchor">SKILLS</a>
                </span>
            </div>
            <div class="horizontal">
                <span class="square individual">
                    <a id="visualizer_link" class="tenth before after" href="#visualizer-anchor">VISUAL</a>
                </span>
            </div>
            <div class="horizontal">
                <span class="square individual">
                    <a id="contact_link" class="tenth before after" href="#contact-anchor">CONTACT</a>
                </span>
            </div>
        </div>
    </div>
</div>