<!-- VISUALIZER SECTION -->
    <div id="visualizer-anchor"></div>
    <div id="visualizer" class="centered">
      <div class="block-name">
        <div class="top-block-title">
          VISUALIZER
          <hr class="hr-line">
          <hr class="hr-square">
        </div>
      </div>   
      <div>A simple and visual way to show my knowledge and skills.</div>
      <br>
      <div id="carousel">
        <div id="mvc_carousel" class="carousel-element">
          <div class="carousel-element-header">

            <div class="carousel-current"><button onclick="changeVisualElement('mvc');" class="carousel_selected">MVC FWK</button></div>
            <div class="carousel-near"><button onclick="changeVisualElement('platforms');" class="carousel-button">Platforms</button></div>
            <div class="carousel-far"><button onclick="changeVisualElement('js');" class="carousel-button">Javascript</button></div>
            <div class="carousel-further"><button onclick="changeVisualElement('misc');" class="carousel-button">Tools</button></div>
            <div class="carousel-furthest"><button onclick="changeVisualElement('script');" class="carousel-button">Scripting</button></div>
          </div>

          <div class="horizontal">
            <a href="http://cakephp.org/" target="_blank">
              <div id="cakephp-carousel-image" class="carousel-element-common"></div>
            </a>
            <span class="carousel-element-title">CakePHP</span> 
           </div>
           <div class="horizontal">
              <a href="http://framework.zend.com/" target="_blank">
                <div id="zend-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title">Zend</span> 
          </div>
          <div class="horizontal">
              <a href="http://symfony.com/" target="_blank">
                <div id="symfony-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title">Simfony</span> 
          </div>
          <div class="horizontal">
              <a href="http://rubyonrails.org/" target="_blank">
                <div id="rails-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title">Ruby on Rails</span> 
          </div>
          <div class="horizontal">
              <a href="http://turbogears.org/" target="_blank">
                <div id="turbogears-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title">Turbogears</span> 
          </div>
        </div>

        <div id="platforms_carousel" class="carousel-element">
          <div class="carousel-element-header">
            <div class="carousel-current"><button onclick="changeVisualElement('mvc');" class="carousel-button">MVC Frameworks</button></div>
            <div class="carousel-near"><button onclick="changeVisualElement('platforms');" class="carousel_selected">Platforms</button></div>
            <div class="carousel-far"><button onclick="changeVisualElement('js');" class="carousel-button">Javascript</button></div>
            <div class="carousel-further"><button onclick="changeVisualElement('misc');" class="carousel-button">Tools</button></div>
            <div class="carousel-furthest"><button onclick="changeVisualElement('script');" class="carousel-button">Scripting</button></div>
          </div>
            <div class="horizontal">
              <a href="http://magento.com/" target="_blank">
                <div id="magento-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title">Magento</span> 
           </div>
           <div class="horizontal">
              <a href="http://www.sugarcrm.com/" target="_blank">
                <div id="sugarcrm-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title">SugarCRM</span> 
          </div>
          <div class="horizontal">
              <a href="https://www.drupal.org/" target="_blank">
                <div id="drupal-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title">Drupal</span> 
          </div>
          <div class="horizontal">
              <a href="https://moodle.org/" target="_blank">
                <div id="moodle-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title"> 
                Moodle
              </span> 
          </div>
          <div class="horizontal">
              <a href="https://wordpress.com/" target="_blank">
                <div id="wordpress-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title"> 
                Wordpress
              </span> 
          </div>  
        </div>

        <div id="js_carousel" class="carousel-element">
          <div class="carousel-element-header">
            <div class="carousel-current"><button onclick="changeVisualElement('mvc');" class="carousel-button">MVC Frameworks</button></div>
            <div class="carousel-near"><button onclick="changeVisualElement('platforms');" class="carousel-button">Platforms</button></div>
            <div class="carousel-far"><button onclick="changeVisualElement('js');" class="carousel_selected">Javascript</button></div>
            <div class="carousel-further"><button onclick="changeVisualElement('misc');" class="carousel-button">Tools</button></div>
            <div class="carousel-furthest"><button onclick="changeVisualElement('script');" class="carousel-button">Scripting</button></div>
          </div>
            <div class="horizontal">
              <a href="https://jquery.com/" target="_blank">
                <div id="jquery-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title"> 
                jQuery
              </span> 
           </div>
           <div class="horizontal">
              <a href="https://angularjs.org/" target="_blank">
                <div id="angular-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title"> 
                Angular.js
              </span> 
          </div>
          <div class="horizontal">
              <a href="https://www.meteor.com/" target="_blank">
                <div id="meteor-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title"> 
                Meteor.js
              </span> 
          </div>
          <div class="horizontal">
              <a href="https://nodejs.org/" target="_blank">
                <div id="node-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title"> 
                Node.js
              </span> 
          </div>
          <div class="horizontal">
              <a href="http://coffeescript.org/" target="_blank">
                <div id="coffee-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title"> 
                CoffeeScript
              </span> 
          </div>
        </div>

        <div id="misc_carousel" class="carousel-element">
          <div class="carousel-element-header">
        
            <div class="carousel-current"><button onclick="changeVisualElement('mvc');" class="carousel-button">MVC Frameworks</button></div>
            <div class="carousel-near"><button onclick="changeVisualElement('platforms');" class="carousel-button">Platforms</button></div>
            <div class="carousel-far"><button onclick="changeVisualElement('js');" class="carousel-button">Javascript</button></div>
            <div class="carousel-further"><button onclick="changeVisualElement('misc');" class="carousel_selected">Tools</button></div>
            <div class="carousel-furthest"><button onclick="changeVisualElement('script');" class="carousel-button">Scripting</button></div> 

          </div>
            <div class="horizontal">
              <a href="https://git-scm.com/" target="_blank">
                <div id="git-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title"> 
                Git
              </span> 
           </div>
           <div class="horizontal">
              <a href="https://www.mysql.com/" target="_blank">
                <div id="mysql-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title"> 
                Mysql
              </span> 
          </div>
          <div class="horizontal">
              <a href="https://www.scrum.org/" target="_blank">
                <div id="scrum-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title"> 
                Scrum
              </span> 
          </div>
          <div class="horizontal">
              <a href="http://www.w3schools.com/html/" target="_blank">
                <div id="html5-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title"> 
                HTML5
              </span> 
          </div>
          <div class="horizontal">
              <a href="http://www.w3schools.com/css/css3_intro.asp" target="_blank">
                <div id="css3-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title"> 
                CSS3
              </span> 
          </div>
        </div>

        <div id="script_carousel" class="carousel-element">
          <div class="carousel-element-header">
              <div class="carousel-current"><button onclick="changeVisualElement('mvc');" class="carousel-button">MVC Frameworks</button></div>
            <div class="carousel-near"><button onclick="changeVisualElement('platforms');" class="carousel-button">Platforms</button></div>
            <div class="carousel-far"><button onclick="changeVisualElement('js');" class="carousel-button">Javascript</button></div>
            <div class="carousel-further"><button onclick="changeVisualElement('misc');" class="carousel-button">Tools</button></div>
            <div class="carousel-furthest"><button onclick="changeVisualElement('script');" class="carousel_selected">Scripting</button></div> 

          </div>
            <div class="horizontal">
              <a href="http://nz2.php.net/" target="_blank">
                <div id="php-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title"> 
                PHP
              </span> 
           </div>
           <div class="horizontal">
              <a href="https://www.ruby-lang.org/en/" target="_blank">
                <div id="ruby-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title"> 
                Ruby
              </span> 
          </div>
          <div class="horizontal">
              <a href="https://www.python.org/" target="_blank">
                <div id="python-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title"> 
                Python
              </span> 
          </div>
          <div class="horizontal">
              <a href="https://www.javascript.com/" target="_blank">
                <div id="javascript-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title"> 
                Javascript
              </span> 
          </div>
          <div class="horizontal">
              <a href="https://www.perl.org/" target="_blank">
                <div id="perl-carousel-image" class="carousel-element-common"></div>
              </a>
              <span class="carousel-element-title"> 
                Perl
              </span> 
          </div>
        </div>
    </div> 
  </div>